.max-height {
    max-height: 450px;
    overflow: scroll;
}
.m-top-60 {
    margin-top: 60px;
}
.tagshow {
    background: #51C679;
    /* background: radial-gradient(circle, rgba(62,13,201,1) 0%, rgba(49,9,121,1) 100%); */
    color: white;
    padding: 5px;
    border-radius: 3px;
}
.question-header {
    padding: .75rem 1.25rem !important;
}
.m-top-50 {
    margin-top: 15vh;
}
#xD {
    margin: 0 !important;
}
.modal.show .modal-dialog {
    transform: none !important;
}
.form-check input[type="checkbox"], .form-check-radio input[type="radio"] {
    opacity: 1;
    position: relative;
    visibility: visible;
}
.menuIcon {
  margin-right: 10px;
  width: 40px;
}
.custom-select {
  height: 100% !important;
}
.custom-checkbox {
  margin-right: 15px;
}
#tags_tagsinput {
  width: 100% !important;
}
.correct {
    display: none;
  }
  .incorrect {
    display: none;
  }