@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    font-family: 'Montserrat', sans-serif !important;
}
#gradient {
  width: 100%;
  height: 850px;
  background: rgb(0, 181, 255);
  /*background: linear-gradient(420deg, rgba(0, 181, 255, 1) 0%, rgba(57, 223, 202, 1) 46%, rgba(26, 122, 180, 1) 100%);*/
  background: linear-gradient(420deg,#53f 15%,#05d5ff 70%);
  z-index: -1;
	position: absolute;
}

#separador {
  width: 100%;
  height: 400px;
  transform: skewY(-8deg);
  background-color: white;
  position: absolute;
  top: 650px;
}

#monitor {
	padding-top: 100px;
}

#monitorImage {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 50px;
}

.fixed-top.scrolled {
  background-color: #53f !important;
  transition: background-color 200ms linear;
}

.separador {
  padding-left: 7px;
}
#footer {
	background-color: black;
	color: white;
}

#content {
	padding-top: 200px;
}

.section {
	padding-top: 100px;
	margin-top: 100px;
}
.carousel-btn {
	position: absolute;
	bottom: 10px;
}
.title {
	padding-bottom: 40px;
}
.carousel-item {
  color: white;
}
