.question {
  margin: auto;
}

.teamDiv {
  display: inline-block;
}

#svg {
	z-index: 1;
}

.teamImage {
  width: 50px;
}

.resultImage {
  width: 100px;
}

.modal-footer {
  margin: auto;
}

.questionSection {
  width: 70%;
  display: inline-block;
}

#questionDiv {
  overflow-x: scroll;
}
.menuIcon {
  width: 50px;
}

.padding {
  padding: 20px;
}

.wrongAnswer {
  width: 30px;
}

#fullscreen {
  width: 25px;
  position: fixed;
  top: 3px;
  right: 3px;
  z-index: 999;
}

#alert {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: auto;
  width: 400px;
  height: 40px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

html, body {
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.slow {
  -webkit-animation-name: slow;
  animation-name: slow;
}

.medium {
  -webkit-animation-name: medium;
  animation-name: medium;
}

.fast {
  -webkit-animation-name: fast;
  animation-name: fast;
}

.faster {
  -webkit-animation-name: faster;
  animation-name: faster;
}

.fastest {
  -webkit-animation-name: fastest;
  animation-name: fastest;
}

/* SLOW MOVEMENT */

@-webkit-keyframes slow {
	from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -1deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -1deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 1deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 1deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -1deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -1deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes slow {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -1deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -1deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 1deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 1deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -1deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -1deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/* MEDIUM MOVEMENT */

@-webkit-keyframes medium {
	from {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25);
  }
  10%, 20% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25) rotate3d(0, 0, 1, -4deg);
    transform: scale3d(1.25, 1.25, 1.25) rotate3d(0, 0, 1, -4deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25) rotate3d(0, 0, 1, 4deg);
    transform: scale3d(1.25, 1.25, 1.25) rotate3d(0, 0, 1, 4deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25) rotate3d(0, 0, 1, -4deg);
    transform: scale3d(1.25, 1.25, 1.25) rotate3d(0, 0, 1, -4deg);
  }
  to {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25);
  }
}

@keyframes medium {
  from {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25);
  }
  10%, 20% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25) rotate3d(0, 0, 1, -4deg);
    transform: scale3d(1.25, 1.25, 1.25) rotate3d(0, 0, 1, -4deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25) rotate3d(0, 0, 1, 4deg);
    transform: scale3d(1.25, 1.25, 1.25) rotate3d(0, 0, 1, 4deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25) rotate3d(0, 0, 1, -4deg);
    transform: scale3d(1.25, 1.25, 1.25) rotate3d(0, 0, 1, -4deg);
  }
  to {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25);
  }
}

/* FAST MOVEMENT */

@-webkit-keyframes fast {
	from {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
  }
  10%, 20% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5) rotate3d(0, 0, 1, -7deg);
    transform: scale3d(1.5, 1.5, 1.5) rotate3d(0, 0, 1, -7deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5) rotate3d(0, 0, 1, 7deg);
    transform: scale3d(1.5, 1.5, 1.5) rotate3d(0, 0, 1, 7deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5) rotate3d(0, 0, 1, -7deg);
    transform: scale3d(1.5, 1.5, 1.5) rotate3d(0, 0, 1, -7deg);
  }
  to {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
  }
}

@keyframes fast {
  from {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
  }
  10%, 20% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5) rotate3d(0, 0, 1, -7deg);
    transform: scale3d(1.5, 1.5, 1.5) rotate3d(0, 0, 1, -7deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5) rotate3d(0, 0, 1, 7deg);
    transform: scale3d(1.5, 1.5, 1.5) rotate3d(0, 0, 1, 7deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5) rotate3d(0, 0, 1, -7deg);
    transform: scale3d(1.5, 1.5, 1.5) rotate3d(0, 0, 1, -7deg);
  }
  to {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
  }
}

/* FASTER MOVEMENT */

@-webkit-keyframes faster {
	from {
    -webkit-transform: scale3d(1.7, 1.7, 1.7);
    transform: scale3d(1.7, 1.7, 1.7);
  }
  10%, 20% {
    -webkit-transform: scale3d(1.7, 1.7, 1.7) rotate3d(0, 0, 1, -10deg);
    transform: scale3d(1.7, 1.7, 1.7) rotate3d(0, 0, 1, -10deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.7, 1.7, 1.7) rotate3d(0, 0, 1, 10deg);
    transform: scale3d(1.7, 1.7, 1.7) rotate3d(0, 0, 1, 10deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.7, 1.7, 1.7) rotate3d(0, 0, 1, -10deg);
    transform: scale3d(1.7, 1.7, 1.7) rotate3d(0, 0, 1, -10deg);
  }
  to {
    -webkit-transform: scale3d(1.7, 1.7, 1.7);
    transform: scale3d(1.7, 1.7, 1.7);
  }
}

@keyframes faster {
  from {
    -webkit-transform: scale3d(1.7, 1.7, 1.7);
    transform: scale3d(1.7, 1.7, 1.7);
  }
  10%, 20% {
    -webkit-transform: scale3d(1.7, 1.7, 1.7) rotate3d(0, 0, 1, -10deg);
    transform: scale3d(1.7, 1.7, 1.7) rotate3d(0, 0, 1, -10deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.7, 1.7, 1.7) rotate3d(0, 0, 1, 10deg);
    transform: scale3d(1.7, 1.7, 1.7) rotate3d(0, 0, 1, 10deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.7, 1.7, 1.7) rotate3d(0, 0, 1, -10deg);
    transform: scale3d(1.7, 1.7, 1.7) rotate3d(0, 0, 1, -10deg);
  }
  to {
    -webkit-transform: scale3d(1.7, 1.7, 1.7);
    transform: scale3d(1.7, 1.7, 1.7);
  }
}

/* FASTEST MOVEMENT */

@-webkit-keyframes fastest {
	from {
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }
  10%, 20% {
    -webkit-transform: scale3d(2, 2, 2) rotate3d(0, 0, 1, -10deg);
    transform: scale3d(2, 2, 2) rotate3d(0, 0, 1, -10deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(2, 2, 2) rotate3d(0, 0, 1, 10deg);
    transform: scale3d(2, 2, 2) rotate3d(0, 0, 1, 10deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(2, 2, 2) rotate3d(0, 0, 1, -10deg);
    transform: scale3d(2, 2, 2) rotate3d(0, 0, 1, -10deg);
  }
  to {
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }
}

@keyframes fastest {
	from {
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }
  10%, 20% {
    -webkit-transform: scale3d(2, 2, 2) rotate3d(0, 0, 1, -10deg);
    transform: scale3d(2, 2, 2) rotate3d(0, 0, 1, -10deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(2, 2, 2) rotate3d(0, 0, 1, 10deg);
    transform: scale3d(2, 2, 2) rotate3d(0, 0, 1, 10deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(2, 2, 2) rotate3d(0, 0, 1, -10deg);
    transform: scale3d(2, 2, 2) rotate3d(0, 0, 1, -10deg);
  }
  to {
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }
}
