body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-size: 700px 700px;
  background-repeat: repeat;
}

.section {
  display: flex;
  align-content: center;
}

.team {
  width: 50px;
  margin: 20px;
  margin-bottom: 5px;
  display: flex;
}

.shadow {
  -webkit-filter: drop-shadow(0 0 0.50rem black);
  filter: drop-shadow(0 0 0.50rem black);
}

.teamMove {
  z-index: 1;
  margin-bottom: 40px;
  width: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.countdown {
  font-size: 20;
  font-family: sans-serif;
}

.modal-footer {
  margin: auto;
}

.questionImage {
  display: flex;
  width: 70px;
  margin: 20px;
  margin-bottom: 40px;
  cursor: pointer;
  pointer-events: none;
  -webkit-filter: drop-shadow(0 0 0.50rem black);
  filter: drop-shadow(0 0 0.50rem black);
}

.blackAndWhite {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.question {
  position: relative;
  pointer-events: none;
}

.player {
  width: 50px;
  display: block;
}

.column {
  display: inline-block;
  margin: auto;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#fullscreen {
  width: 25px;
  position: fixed;
  top: 3px;
  right: 3px;
  z-index: 999;
}

.pointer {
  pointer-events: auto;
}

.cancel {
  width: 20px;
  float: right;
}

.floor {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -100;
}

#start {
  left: 0;
}

#end {
  right: 0;
}
#alert {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: auto;
  width: 400px;
  height: 40px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
